## **Write a Pandas program to print the day after and before a specified date. Also print the days between two given dates.**

In [ ]:
import datetime as dt
import pandas as pd

In [ ]:
d = dt.datetime.now()
print(str(d))

2021-09-17 06:11:50.461794

In [ ]:
 l = [dt.datetime.strftime(d+pd.Timedelta(days=i), '%d/%m/%Y') for i in range(0,5)]
 print(l)

['17/09/2021', '18/09/2021', '19/09/2021', '20/09/2021', '21/09/2021']

In [ ]:
import numpy as np

In [ ]:
a = np.random.randint(0,100, size=5, dtype=int)
a

array([ 7,  6, 45,  1, 68])

In [ ]:
print(np.sum(a))

127

In [ ]:
a.sort()
a = a[::-1]
a

array([68, 45,  7,  6,  1])

In [ ]:
print("Tommorow:", dt.datetime.strftime(d+pd.Timedelta(days=1), '%d/%m/%Y-%A'))
print("Yesterday:", dt.datetime.strftime(d-pd.Timedelta(days=1), '%d/%m/%Y-%A'))

Tommorow: 10/09/2021-Friday
Yesterday: 08/09/2021-Wednesday

In [ ]:
print("Difference between two dates:",
      (dt.datetime(2020, 9, 23)- dt.datetime(2020, 2, 2)))

Difference between two dates: 234 days, 0:00:00

##**Write a Pandas program to extract year, month, day, hour, minute, second and weekday from unidentified flying object (UFO) reporting date(http://bit.ly/uforeports).**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('http://bit.ly/uforeports')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18216 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  object
dtypes: object(5)
memory usage: 712.7+ KB

In [ ]:
df['Time'].head()

0     6/1/1930 22:00
1    6/30/1930 20:00
2    2/15/1931 14:00
3     6/1/1931 13:00
4    4/18/1933 19:00
Name: Time, dtype: object

In [ ]:
time = df['Time'].astype('datetime64[ns]')

In [ ]:
print('Year, Month, Date, Hour, Minuite, Second, Weekday')
for d in time.head(20):
  print(dt.datetime.strftime(d, '%Y, %m, %d, %H, %M, %S, %a'))

Year, Month, Date, Hour, Minuite, Second, Weekday
1930, 06, 01, 22, 00, 00, Sun
1930, 06, 30, 20, 00, 00, Mon
1931, 02, 15, 14, 00, 00, Sun
1931, 06, 01, 13, 00, 00, Mon
1933, 04, 18, 19, 00, 00, Tue
1934, 09, 15, 15, 30, 00, Sat
1935, 06, 15, 00, 00, 00, Sat
1936, 07, 15, 00, 00, 00, Wed
1936, 10, 15, 17, 00, 00, Thu
1937, 06, 15, 00, 00, 00, Tue
1937, 08, 15, 21, 00, 00, Sun
1939, 06, 01, 20, 00, 00, Thu
1939, 06, 30, 20, 00, 00, Fri
1939, 07, 07, 02, 00, 00, Fri
1941, 06, 01, 13, 00, 00, Sun
1941, 07, 02, 11, 30, 00, Wed
1942, 02, 25, 00, 00, 00, Wed
1942, 06, 01, 22, 30, 00, Mon
1942, 07, 15, 01, 00, 00, Wed
1943, 04, 30, 23, 00, 00, Fri